input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.container {
    padding-top: 10px;
    background-image: url('../img/background.jpg') repeat 0 0;
}

form{
    border: solid 1px;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    position: center;
}
body {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    background-image: url('../img/texture.png');
}
main {
    padding: 0.2em;
}
p{
    margin: 0.15em;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
label {
    margin-right: 0.5em;
}
.right {
    float: right;
}
.justify {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}
.navbar {
    color: #7ff250;
}
